body {background-image: url("https://lh3.googleusercontent.com/KliI2VCssiMtNGikobyObNyRejvGfbtxMwRMcbY0KWoIQQ__wLKwavgmd3YDB_eGCj9iH7rX5UreAAaabFFrJRokYdxE78a9DGA77W-jOlL5gw3MOcVHm7KlqSu6BA2d8X1eWbORvER_tPMpn6bGRjip7RKACQZNyuBR5aLHp6-ji7Y9NKPIhx4y_61BvulM_eZiP5ioKXVJB_JVGHji3lSYTmBZ95DgjpGDquiBwVdQe6F7QnCAVb50Etu0of3CVE9yBkskgk4Pih3cTz7jarWBaAAuic-5dFyMVN6Xam3CRAXo9cl2kJG9FsfyHkk4A6b99z6I6iOoeJy3cgGBZ_608n6-rSkVlnaRyK9J1qOHW5NVaSMCEVOR1iAu9efSBX9DORyYHAfh18GZulT-cAeSnE-qNspp88y9S-b2UR2199XSODeRI04T5UuxSK_GHBO6i8ej725dV9C_pnM0GpViWH4noUncJVI1fegHMBNkPqcScNuQCfd2YvEgffV90z6JqR1rZNk2jnUay8D_6Oj5RffXIU_wEABObQt-L__RFJVp-zoouUvvZoL2z7PtQ2IaBFul4X0ghMA904Nl0jYjzJ7rgVoU7qpcsMvZrUrzbRfAoAlRuPkqfLl3EwC3HFiaUaIb-05Dk2MtHa8OmhAY-8TSQlRrwmb051RDpAFZDlJoXnEAQm0kceza1xxtcof9eOT9wD7jiyIkn3o_VMxCk5x_XjaNGcszo5AZk9KQZCK9iAPy7TSc46jodg=w559-h993-no?authuser=0");}
h2{ font-size: 40px;
color: #34B3F1;}
h1{color: #764AF1;}
p{text-shadow: 2px;
font-style: italic;
font-size: 20px;
color: #00FFC6;}
h5{color: #F806CC;}
h3{color: #F66B0E;}
